body {
  font-family: sans-serif;
  margin: 50px;
}

.list-vertical {
  background: #ccc;
  padding: 10px;
  display: flex;
  gap: 2px;
  width: 400px;
  flex-direction: column;
}

.list-horizontal {
  background: #ccc;
  padding: 10px;
  display: flex;
  gap: 2px;
  width: fit-content;
  flex-direction: row;
  justify-content: space-around;
}

.wrap-item {
  padding: 2px;
}

.item {
  padding: 20px 10px;
  background: #ffff;
  border: 2px solid #000;
}

.horizontal-insert {
  width: 2px;
  background-color: orange;
}

.vertical-insert {
  height: 2px;
  background-color: orange;
}
